.banner {
	height: 400px;
	background-image: url('/img/banner.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	// background-position: center;
}

.bannertext {
 	left: 100px;
 	h1{
	 	font-size: 6em;
	 	font-weight: bold;
	 	color: white;
	 	margin-top: 55px;
	 	margin-bottom: 10px;
	 	// text-shadow: 3px 3px 30px #000;
 	}
 	h2 {
 		font-size: 2em;
 		font-weight: bold;
 		color: white;
 		// text-shadow: 3px 3px 10px #000;
 	}


}

