.banner {
	height: 600px;
	background-image: url('/img/banner.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.bannertext {
 h1 {
 	top: 50px;
 	font-size: 4em;
 	color: white;
 }
}

