.banner {
	height: 600px;
	background-image: url('/img/banner.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.bannertext {
 h1 & h2 {
 	top: 50px;
 	left: 100px;
 	font-size: 4em;
 	font-weight: bold;
 }
}

